.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
}

.header {
  padding: 10px 0px;
  text-align: center;
  background-color: antiquewhite;
}

/* Grid */

.container {
  display: flex;
  flex-direction: row;
  margin: auto 10%;

}

.section {
  padding: 20px 20px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 1px antiquewhite;
  border-radius: 10%;
  box-shadow: 2.5px 5px #888888;

}

.center {
  text-align: center;
}

h1, h2, h3, h4, p {
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
}